* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: rgb(237, 237, 237);
    background: linear-gradient(180deg, rgba(237, 237, 237, 1) 36%, rgba(74, 94, 111, 1) 95%);
}

.wrapper {
    width: 800px;
    min-height: 900px;
    /* border: 3px solid black; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 50px;
}

.range__label {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.range__label input {
    margin-top: 15px;
    cursor: pointer;
    width: 350px;
}

.date__label {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date__label input {
    margin-top: 15px;

}

.calculate__btn {
    width: 130px;
    height: 55px;
    font-size: 20px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.25s;
}

.calculate__btn:hover {
    background-color: rgb(51, 51, 51);
    color: white;
}

.result {
    font-size: 22px;
    width: 80%;
    text-align: center;
    margin-top: 30px;

}

.result p {
    margin-top: 10px;
}